<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
<connectionStrings>
  <add name="conn" connectionString="Server=3f10881b-71e3-457c-9f2d-a4d700780694.sqlserver.sequelizer.com;Database=db3f10881b71e3457c9f2da4d700780694;User ID=pzlpvqlrfdcddymq;Password=XJATFXopkRF8ymNRTSrVbvoxFcSgiC5aj3nFyYbUPkzhhAqbBwvxQQLBudmCegfP;"/>
</connectionStrings>
</configuration>
